*{
    font-family: arial;

}

table {
    width: 500px;
    height: 300px;
    text-align: center;
    border-collapse: collapse;
}
td {
    border: 1px solid black;
}
th{
    background-color: rgb(32, 32, 32);
    color: white;
    border: 1px solid black;
}
.vert_head{
    background-color: rgb(122, 122, 122);
    color: white;
    font-weight: bold;
}
col.carea{
    background-color: green;
}
#container{
    width: 70vw;
    overflow-x: auto;
}